version: '3'
services:
  streamlit:
    build:
      context: .
      args:
        - USER_ID=${UID:-1000}
        - GROUP_ID=${GID:-1000}
    ports:
      - "8501:8501"
    volumes:
      - .:/app
      - ./logs:/app/logs
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - user_name=admin
      - password=admin$$01 